<div class="mt-4"></div>
<div style="max-width: 900px; margin: 0 auto;">

    {% for post in posts %}
    <article>
        <div style="display: flex; justify-content: end;">
            <small class="pico-color-slate-450">{{ post.scheduled_on }}</small>
        </div>

        <p style="white-space: pre-line;">{{ post.description }}</p>

        {% if post.media_file %}


            {% if post.has_image %}
            <div x-data="{fullScreen: false}" style="display: flex; justify-content: center;">
                <div x-show="!fullScreen">
                    <img @click="fullScreen = true" src="{{ post.media_file.url }}" alt="Media file"
                        style="max-width: 100%; height: 350px; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                </div>

                <dialog :open="fullScreen" @click="fullScreen = false">
                    <img src="{{ post.media_file.url }}" alt="Media file"
                        style="max-width: 100%; height: 100%; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                </dialog>
            </div>
            {% endif %}
    
            {% if post.has_video %}
            <div x-data="{fullScreen: false}" style="display: flex; justify-content: center;">
                <div x-show="!fullScreen">
                    <video @click="fullScreen = true" controls
                        style="max-width: 100%; height: 350px; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                        <source src="{{ post.media_file.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <dialog :open="fullScreen" @click="fullScreen = false">
                    <video controls
                        style="max-width: 100%; height: 100%; object-fit: contain; margin-bottom: 1rem; margin-top: 1rem; border-radius: 5px;">
                        <source src="{{ post.media_file.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </dialog>
            </div>
            {% endif %}
    

        {% endif %}

        <div class="mt-1">

            <p class="pico-color-slate-450">Links:</p>

            <div style="display: flex; align-items: center; gap: 1rem; margin-top: -15px;">

                <!-- Instagram -->
                {% if post.error_instagram %}
                    <span data-tooltip="Retries {{ post.retries_instagram }}/10. Got error: {{ post.error_instagram }}" class="pico-color-red-500">
                        <i class="bi bi-instagram"></i>
                    </span>
                {% elif post.link_instagram %}
                    <a data-tooltip="posted" target="_blank" href="{{ post.link_instagram }}">
                        <i class="bi bi-instagram"></i>
                    </a>
                {% elif post.post_on_instagram %}
                    <span data-tooltip="pending">
                        <i class="bi bi-instagram"></i>
                    </span>
                {% endif %}

                <!-- Facebook -->
                {% if post.error_facebook %}
                    <span data-tooltip="Retries {{ post.retries_facebook }}/10. Got error: {{ post.error_facebook }}" class="pico-color-red-500">
                        <i class="bi bi-facebook"></i>
                    </span>
                {% elif post.link_facebook %}
                    <a data-tooltip="posted" target="_blank" href="{{ post.link_facebook }}">
                        <i class="bi bi-facebook"></i>
                    </a>
                {% elif post.post_on_facebook %}
                    <span data-tooltip="pending">
                        <i class="bi bi-facebook"></i>
                    </span>
                {% endif %}

                <!-- X -->
                {% if post.error_x %}
                    <span data-tooltip="Retries {{ post.retries_x }}/10. Got error: {{ post.error_x }}" class="pico-color-red-500">
                        <i class="bi bi-twitter-x"></i>
                    </span>
                {% elif post.link_x %}
                    <a data-tooltip="posted" target="_blank" href="{{ post.link_x }}">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                {% elif post.post_on_x %}
                    <span data-tooltip="pending">
                        <i class="bi bi-twitter-x"></i>
                    </span>
                {% endif %}

                <!-- Linkedin -->
                {% if post.error_linkedin %}
                    <span data-tooltip="Retries {{ post.retries_linkedin }}/10. Got error: {{ post.error_linkedin }}" class="pico-color-red-500">
                        <i class="bi bi-linkedin"></i>
                    </a>
                {% elif post.link_linkedin %}
                    <a data-tooltip="posted" target="_blank" href="{{ post.link_linkedin }}">
                        <i class="bi bi-linkedin"></i>
                    </a>
                {% elif post.post_on_linkedin %}
                    <span data-tooltip="pending">
                        <i class="bi bi-linkedin"></i>
                    </span>
                {% endif %}

                <!-- TikTok -->
                {% if post.error_tiktok %}
                    <span data-tooltip="Retries {{ post.retries_tiktok }}/10. Got error: {{ post.error_tiktok }}" class="pico-color-red-500">
                        <i class="bi bi-tiktok"></i>
                    </a>
                {% elif post.link_tiktok %}
                    <a data-tooltip="posted" target="_blank" href="{{ post.link_tiktok }}">
                        <i class="bi bi-tiktok"></i>
                    </a>
                {% elif post.post_on_tiktok %}
                    <span data-tooltip="pending">
                        <i class="bi bi-tiktok"></i>
                    </span>
                {% endif %}

            </div>

        </div>


        <div style="display: flex; gap: 1rem; justify-content: end;">
            <a href="{% url 'schedule_edit' post_id=post.id %}" class="pico-color-jade-500" style="text-decoration: none;">
                <i class="bi bi-pencil"></i> Edit
            </a>
            <a href="{% url 'schedule_delete' post_id=post.id %}" class="pico-color-red-500" style="text-decoration: none;">
                <i class="bi bi-trash"></i> Delete
            </a>
        </div>


    </article>
    {% endfor %}

</div>
